<!DOCTYPE html>
<html lang="zxx">
<!-- events-->
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Hotel Template">
    <meta name="keywords" content="Hotel, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>events</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat+Alternates:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="../static/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="../static/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="../static/flaticon.css" type="text/css">
    <link rel="stylesheet" href="../static/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="../static/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="../static/nice-select.css" type="text/css">
    <link rel="stylesheet" href="../static/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="../static/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="../static/style.css" type="text/css">
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Header Section Begin -->
    <header class="header-section">
        <div class="container-fluid">
            <div class="inner-header">
                <div class="logo">
                    <a href="./index.html"><img src="../static/logo.jpeg" alt=""></a>
                </div>
                <div class="nav-right">
                  
                </div>
                <nav class="main-menu mobile-menu">
                    <ul>
                        <li class="active"><a href={{ url_for ("index") }}>Home</a></li>
                        <li><a href={{ url_for ("contact") }}>events</a></li>
                        <li><a href={{ url_for ("hello") }}>about us</a></li>
                        <li><a href="#">Pages</a>
                            <ul class="drop-menu">
                                <li><a href={{ url_for ("contact") }}>About Us</a></li>
                                <li><a href={{ url_for ("hello") }}>events</a></li>
                               
                            </ul>
                        </li>
                        
                    </ul>
                </nav>
               <!-- <nav class="main-menu mobile-menu">
                    <ul>
                        <li><a href="./index.html">Home</a></li>
                        <li><a href="about-us.html">About</a></li>
                        <li class="active"><a href="contact.html">events</a></li>
                        <li><a href="#">Pages</a>
                            <ul class="drop-menu">
                                <li><a href="about-us.html">About Us</a></li>
                                <li><a href="contact.html">events</a></li>
                                
                            </ul>
                        </li>
                       
                    </ul>
                </nav> -->
                <div id="mobile-menu-wrap"></div>
            </div>
        </div>
    </header>
    <!-- Header End -->

    <!-- Hero Area Section Begin -->
    <div class="hero-area set-bg other-page" data-setbg="img/about_bg.jpg">
    </div>
    <!-- Hero Area Section End -->

    <!-- Search Filter Section Begin -->
    
    <!-- Search Filter Section End -->

    <!-- Room Section Begin -->
    <section class="room-section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6">
                    <div class="ri-slider-item">
                        <div class="ri-sliders owl-carousel">
                            <div class="single-img set-bg" data-setbg="../static/contact1.jpg"></div>
                            <div class="../static/alberta3.jpeg" data-setbg="img/rooms/room-2.jpg"></div>
                            <div class="single-img set-bg" data-setbg="img/rooms/room-3.jpg"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="ri-text">
                        <div class="section-title">
                            <div class="section-title">
                                
                                <h2>Alberta Energy Efficiency Summit</h2>
                            </div>
                            <p>What started out as registration support for a one-day event has flourished into a collaborative relationship with one of our favourite client events. Spark supported with a complete rebrand of the Alliance and moved on to plan the first-ever two-day Alberta Energy Efficiency Summit. Watching this client’s growth and development has been rewarding and we can’t wait to see what’s in store for the future!</p>
                            <div class="ri-features">
                                <div class="ri-info">
                                    <i class="flaticon-019-television"></i>
                                    <p>Smart TV</p>
                                </div>
                                <div class="ri-info">
                                    <i class="flaticon-029-wifi"></i>
                                    <p>High Wi-fii</p>
                                </div>
                                <div class="ri-info">
                                    <i class="flaticon-003-air-conditioner"></i>
                                    <p>AC</p>
                                </div>
                                <div class="ri-info">
                                    <i class="flaticon-036-parking"></i>
                                    <p>Parking</p>
                                </div>
                                <div class="ri-info">
                                    <i class="flaticon-007-swimming-pool"></i>
                                    <p>Pool</p>
                                </div>
                            </div>
                           
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 order-lg-2">
                    <div class="ri-slider-item">
                        <div class="ri-sliders owl-carousel">
                            <div class="single-img set-bg" data-setbg="../static/contact2.jpg"></div>
                            <div class="single-img set-bg" data-setbg="img/rooms/room-3.jpg"></div>
                            <div class="single-img set-bg" data-setbg="img/rooms/room-4.jpg"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 order-lg-1">
                    <div class="ri-text left-side">
                        <div class="section-title">
                            <div class="section-title">
                                <span>a memorable holliday</span>
                                <h2>PMINAC Conference </h2>
                            </div>
                            <p> We have worked with the Project Management Institute Northern Alberta Chapter for over a decade and it’s safe to say we feel like a part of the family. From the familiar faces in the crowd of attendees, to the trust built with sponsors and speakers, the committee and board can count on us to represent their Chapter and execute a seamless conferenc</p>
                            <div class="ri-features">
                                <div class="ri-info">
                                    <i class="flaticon-019-television"></i>
                                    <p>free drinks</p>
                                </div>
                              
                               
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
            
              
                            <p></p>
                           
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Room Section End -->

    <!-- Footer Section Begin -->
    <footer class="footer-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="footer-item">
                        <div class="footer-logo">
                            <a href="#"><img src="../static/logo.jpeg" alt=""></a>
                        </div>
                        <p></p>
                    </div>
                </div>
                
                </div>
            </div>
        </div>
        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        
                        <ul>
                            <li class="active"><a href="./index.html">Home</a></li>
                            <li><a href="#">About</a></li>
                            <li><a href="#">Rooms</a></li>
                           
                    </div>
                </div>

                <div class="row pt-5">
                    <div class="col-lg-12 ">
                        <div class="small text-white text-center"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Js Plugins -->
    <script src="../static/js/jquery-3.3.1.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/jquery.magnific-popup.min.js"></script>
    <script src="../static/js/jquery-ui.min.js"></script>
    <script src="../static/js/jquery.nice-select.min.js"></script>
    <script src="../static/js/jquery.slicknav.js"></script>
    <script src="../static/js/owl.carousel.min.js"></script>
    <script src="../static/js/main.js"></script>
</body>

</html>